table.center {
border-collapse:collapse;
margin-left: auto ;
margin-right: auto ;
}

td.padd{
padding: 2px 5px 10px 10px;	
}
td.wide{
	padding: 2px 5px 10px 10px;
}

.centeralign {
text-align: center ;
}

.leftalign {
text-align: left ;
}

.rightalign {
text-align: right ;
}
input[type="text"]{
width : 200px;
}
input[type="password"]{
width : 200px;
}

.styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.jpg) no-repeat right #ddd;
}
