<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Payroll Project</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/ADPDB2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <display-name>PerformanceFilter</display-name>
    <filter-name>PerformanceFilter</filter-name>
    <filter-class>com.adp.filter.PerformanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PerformanceFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AuthenticateFilter</display-name>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>com.adp.filter.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.view</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/login/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/pages/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEarningDefinition</servlet-name>
    <jsp-file>/pages/AddEarningDefinition.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEarningDefinition</servlet-name>
    <url-pattern>/AddEarningDefinition.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Appointment</servlet-name>
    <jsp-file>/pages/Appointment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointment</servlet-name>
    <url-pattern>/Appointment.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppointmentController</servlet-name>
    <servlet-class>com.adp.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentController</servlet-name>
    <url-pattern>/AppointmentController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAppointment</servlet-name>
    <jsp-file>/pages/UpdateAppointment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointment</servlet-name>
    <url-pattern>/UpdateAppointment.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpHome</servlet-name>
    <jsp-file>/pages/EmpHome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpHome</servlet-name>
    <url-pattern>/EmpHome.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployerRegister</servlet-name>
    <jsp-file>/login/EmployerRegister.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerRegister</servlet-name>
    <url-pattern>/EmployerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>empLogin</servlet-name>
    <jsp-file>/login/empLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>empLogin</servlet-name>
    <url-pattern>/empLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/login/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>calendar</servlet-name>
    <jsp-file>/pages/payCalendar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>calendar</servlet-name>
    <url-pattern>/payCalendar.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>show</servlet-name>
    <jsp-file>/pages/showEmployer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/showEmployer.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.adp.controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.adp.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectController</servlet-name>
    <servlet-class>com.adp.controller.SelectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectController</servlet-name>
    <url-pattern>/SelectController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getDeductionController</servlet-name>
    <servlet-class>com.adp.controller.getDeductionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getDeductionController</servlet-name>
    <url-pattern>/getDeductionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpLoginCheck</servlet-name>
    <servlet-class>com.adp.controller.EmpLoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginCheck</servlet-name>
    <url-pattern>/EmpLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerDetailsController</display-name>
    <servlet-name>EmployerDetailsController</servlet-name>
    <servlet-class>com.adp.controller.EmployerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerDetailsController</servlet-name>
    <url-pattern>/EmployerDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeController</display-name>
    <servlet-name>AddEmployeeController</servlet-name>
    <servlet-class>com.adp.controller.AddEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeController</servlet-name>
    <url-pattern>/AddEmployeeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PositionDetailsController</display-name>
    <servlet-name>PositionDetailsController</servlet-name>
    <servlet-class>com.adp.controller.PositionDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PositionDetailsController</servlet-name>
    <url-pattern>/PositionDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>updateDeductionController</servlet-name>
  <servlet-class>com.adp.controller.updateDeductionController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>updateDeductionController</servlet-name>
  <url-pattern>/updateDeductionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobDetailsController</display-name>
    <servlet-name>JobDetailsController</servlet-name>
    <servlet-class>com.adp.controller.JobDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDetailsController</servlet-name>
    <url-pattern>/JobDetailsController.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UpdateEmploymentController</display-name>
    <servlet-name>UpdateEmploymentController</servlet-name>
    <servlet-class>com.adp.controller.UpdateEmploymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmploymentController</servlet-name>
    <url-pattern>/UpdateEmploymentController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessUnitDetailsController</display-name>
    <servlet-name>BusinessUnitDetailsController</servlet-name>
    <servlet-class>com.adp.controller.BusinessUnitDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessUnitDetailsController</servlet-name>
    <url-pattern>/BusinessUnitDetailsController.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PayRun</display-name>
    <servlet-name>PayrunEmployeeController</servlet-name>
    <servlet-class>com.adp.controller.PayrunEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayrunEmployeeController</servlet-name>
    <url-pattern>/PayrunEmployeeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createNewEmployee</servlet-name>
    <jsp-file>/pages/createNewEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>createNewEmployee</servlet-name>
    <url-pattern>/createNewEmployee.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployee</servlet-name>
    <jsp-file>/EmpPages/viewEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/viewEmployee.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewEmployer</servlet-name>
    <jsp-file>/EmpPages/viewEmployer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployer</servlet-name>
    <url-pattern>/viewEmployer.view</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CalculatePayRun</servlet-name>
    <jsp-file>/pages/CalculatePayrun.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatePayRun</servlet-name>
    <url-pattern>/CalculatePayrun.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeductionDefinitionContribution</servlet-name>
    <jsp-file>/pages/DeductionDefinitionContribution.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeductionDefinitionContribution</servlet-name>
    <url-pattern>/DeductionDefinitionContribution.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDeductionDefinitionContribution</servlet-name>
    <jsp-file>/pages/DeleteDeduction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDeductionDefinitionContribution</servlet-name>
    <url-pattern>/DeleteDeduction.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <jsp-file>/pages/UpdateDeduction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/UpdateDeduction.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteEmployee</servlet-name>
    <jsp-file>/pages/deleteEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployee</servlet-name>
    <url-pattern>/deleteEmployee.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editEmployee</servlet-name>
    <jsp-file>/pages/editEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEmployee</servlet-name>
    <url-pattern>/editEmployee.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEarning</servlet-name>
    <jsp-file>/pages/DeleteEarningDefinition.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEarning</servlet-name>
    <url-pattern>/DeleteEarningDefinition.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEarning</servlet-name>
    <jsp-file>/pages/EditEarningDefinition.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEarning</servlet-name>
    <url-pattern>/EditEarningDefinition.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editEmployeeEm</servlet-name>
    <jsp-file>/EmpPages/EditEmployeeEmp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEmployeeEm</servlet-name>
    <url-pattern>/EditEmployeeEmp.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employerDetails</servlet-name>
    <jsp-file>/pages/employerDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>employerDetails</servlet-name>
    <url-pattern>/employerDetails.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessUnitDetails</servlet-name>
    <jsp-file>/pages/BusinessUnitDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessUnitDetails</servlet-name>
    <url-pattern>/BusinessUnitDetails.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>employee</servlet-name>
    <jsp-file>/pages/showEmployee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/showEmployee.view</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>empearnings</servlet-name>
    <jsp-file>/pages/EmployeeEarnings.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>empearnings</servlet-name>
    <url-pattern>/EmployeeEarnings.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobDetails</servlet-name>
    <jsp-file>/pages/JobDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobDetails</servlet-name>
    <url-pattern>/JobDetails.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert</servlet-name>
    <jsp-file>/pages/InsertDeduction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/InsertDeduction.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>positionDetails</servlet-name>
    <jsp-file>/pages/positionDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>positionDetails</servlet-name>
    <url-pattern>/positionDetails.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorHandler</display-name>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.adp.ErrorHandler.ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ClassNotFoundException</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>
          javax.servlet.ServletException
    </exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.io.IOException</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ShowEmployerDetailsController</display-name>
    <servlet-name>ShowEmployerDetailsController</servlet-name>
    <servlet-class>com.adp.controller.ShowEmployerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployerDetailsController</servlet-name>
    <url-pattern>/ShowEmployerDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.adp.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEmployeeDetailsController</display-name>
    <servlet-name>ShowEmployeeDetailsController</servlet-name>
    <servlet-class>com.adp.controller.ShowEmployeeDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEmployeeDetailsController</servlet-name>
    <url-pattern>/ShowEmployeeDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDeductionController</display-name>
    <servlet-name>deleteDeductionController</servlet-name>
    <servlet-class>com.adp.controller.deleteDeductionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDeductionController</servlet-name>
    <url-pattern>/deleteDeductionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEarningController</display-name>
    <servlet-name>DeleteEarningController</servlet-name>
    <servlet-class>com.adp.controller.DeleteEarningController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEarningController</servlet-name>
    <url-pattern>/DeleteEarningController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateControllerShow</display-name>
    <servlet-name>UpdateControllerShow</servlet-name>
    <servlet-class>com.adp.controller.UpdateControllerShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateControllerShow</servlet-name>
    <url-pattern>/UpdateControllerShow.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEarningDefinitionController</display-name>
    <servlet-name>AddEarningDefinitionController</servlet-name>
    <servlet-class>com.adp.controller.AddEarningDefinitionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEarningDefinitionController</servlet-name>
    <url-pattern>/AddEarningDefinitionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmpGetDetailsController</display-name>
    <servlet-name>EditEmpGetDetailsController</servlet-name>
    <servlet-class>com.adp.controller.EditEmpGetDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmpGetDetailsController</servlet-name>
    <url-pattern>/EditEmpGetDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpDetailsController</display-name>
    <servlet-name>UpdateEmpDetailsController</servlet-name>
    <servlet-class>com.adp.controller.UpdateEmpDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpDetailsController</servlet-name>
    <url-pattern>/UpdateEmpDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DedCodes</display-name>
    <servlet-name>DedCodes</servlet-name>
    <servlet-class>com.adp.tagHandler.DedCodes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DedCodes</servlet-name>
    <url-pattern>/DedCodes.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployeeController</display-name>
    <servlet-name>deleteEmployeeController</servlet-name>
    <servlet-class>com.adp.controller.deleteEmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployeeController</servlet-name>
    <url-pattern>/deleteEmployeeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>EditEarningDefinitionController</servlet-name>
  <servlet-class>com.adp.controller.EditEarningDefinitionController</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EditEarningDefinitionController</servlet-name>
  <url-pattern>/EditEarningDefinitionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertDeductionController</display-name>
    <servlet-name>insertDeductionController</servlet-name>
    <servlet-class>com.adp.controller.insertDeductionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertDeductionController</servlet-name>
    <url-pattern>/insertDeductionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEarningController</display-name>
    <servlet-name>EmployeeEarningController</servlet-name>
    <servlet-class>com.adp.controller.EmployeeEarningController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEarningController</servlet-name>
    <url-pattern>/EmployeeEarningController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmpStatusController</display-name>
    <servlet-name>GetEmpStatusController</servlet-name>
    <servlet-class>com.adp.controller.GetEmpStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpStatusController</servlet-name>
    <url-pattern>/GetEmpStatusController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEarningDetailsController</display-name>
    <servlet-name>GetEarningDetailsController</servlet-name>
    <servlet-class>com.adp.controller.GetEarningDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEarningDetailsController</servlet-name>
    <url-pattern>/GetEarningDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayCalculatorController</display-name>
    <servlet-name>PayCalculatorController</servlet-name>
    <servlet-class>com.adp.controller.PayCalculatorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayCalculatorController</servlet-name>
    <url-pattern>/PayCalculatorController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeductionDetailsController</display-name>
    <servlet-name>GetDeductionDetailsController</servlet-name>
    <servlet-class>com.adp.controller.GetDeductionDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeductionDetailsController</servlet-name>
    <url-pattern>/GetDeductionDetailsController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeductionController</display-name>
    <servlet-name>EmployeeDeductionController</servlet-name>
    <servlet-class>com.adp.controller.EmployeeDeductionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeductionController</servlet-name>
    <url-pattern>/EmployeeDeductionController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeduction</display-name>
    <servlet-name>EmployeeDeduction</servlet-name>
    <jsp-file>/pages/EmployeeDeduction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeduction</servlet-name>
    <url-pattern>/EmployeeDeduction.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewEmployerEmpController</display-name>
    <servlet-name>viewEmployerEmpController</servlet-name>
    <servlet-class>com.adp.controller.viewEmployerEmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewEmployerEmpController</servlet-name>
    <url-pattern>/viewEmployerEmpController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerCheck</display-name>
    <servlet-name>EmployerCheck</servlet-name>
    <servlet-class>com.adp.controller.EmployerCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerCheck</servlet-name>
    <url-pattern>/EmployerCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployerRegisterController</display-name>
    <servlet-name>EmployerRegisterController</servlet-name>
    <servlet-class>com.adp.controller.EmployerRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerRegisterController</servlet-name>
    <url-pattern>/EmployerRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmployeeEmp</display-name>
    <servlet-name>updateEmployeeEmp</servlet-name>
    <servlet-class>com.adp.controller.updateEmployeeEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployeeEmp</servlet-name>
    <url-pattern>/updateEmployeeEmp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editEmployeeEmpController</display-name>
    <servlet-name>editEmployeeEmpController</servlet-name>
    <servlet-class>com.adp.controller.editEmployeeEmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editEmployeeEmpController</servlet-name>
    <url-pattern>/editEmployeeEmpController.do</url-pattern>
  </servlet-mapping>
</web-app>